.homeCont{
    background-image: url(assets/cover_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.myHome{
    background-color: rgba(130,112,129, 0.5);
    max-height: 150px;
    height: 100%;
}

*{
    margin: 0;
    box-sizing: border-box;
}