.homeCont{
    background-image: url(assets/cover_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 65px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
*{box-sizing: border-box;}

::-webkit-scrollbar{
    width: 10px;
    
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb{
    background-color: var(--background);
    border-radius: 5px;
    border: 1px solid var(--secondary);
}

button{
    
}

.errormsg{
    color: var(--disabled);
    padding: 15px;
}

.totallyborderbottom{
    border-bottom: 2px dashed var(--secondary);
}

.container{
    background-color: var(--primary);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myHome{
    background-color: rgba(130,112,129, 0.5);
    max-height: 150px;
    height: 100%;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.inputtext{
    height: 25px;
    width: 100%;
}

input, textarea{
    border: 2px solid var(--background);
    border-radius: 5px;
    color: var(--background);
    background-color: var(--primary);
}

input::placeholder, textarea::placeholder{
    color: var(--secondary   );
    opacity: 1;
}
.addButton{
    border: 2px solid var(--background)
}
.addButton:hover{
    border: 3px solid var(--accent);
    color: var(--accent);

}

button{
    border: 2px solid var(--background);
    border-radius: 10%;
}

button{
    color: var(--background);
    background-color: var(--secondary);
    font-weight: bold;
}

button:disabled{
    color: var(--disabled);
    border: 3px solid var(--disabled);
    background-color: var(--primary);
}
button:disabled:hover{
    color: var(--disabled);
    border: 3px solid var(--disabled);
    background-color: var(--primary);
}

button:hover{
    color: var(--accent);
    border: 3px solid var(--accent);
}

a{
    color: var(--accent);
}

input[type="file"]{
    display: none;
}

.custom-file-upload{
    border: 3px solid var(--background);
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;

}

.custom-file-upload:hover{
    border: 4px solid var(--accent);;
    color: var(--accent);
    
}

#submit-button{
    color: var(--background);
    background-color: var(--secondary);
    font-weight: bold;
}

#submit-button:hover{
    color: var(--accent);
    border: 3px solid var(--accent);
}

#submit-button:disabled{
    color: var(--disabled);
    border: 2px solid var(--disabled);
}

.container{
    padding-top: 65px;
}